<ion-header class="header">
  <div class="faixaVerde">
     <h1 class="logoTelaLogin" class="logo" >Mensagens</h1>
  </div>
</ion-header>
<ion-content padding class="container">
  <div style="margin-top: 30px; padding: 20px; overflow: auto" class="bgLaranjaEscuro radius">
    <div>
        <section class="container-fluid">
        <h3 style="margin-bottom: 25px !important; font-weight: 700;">Histórico de mensagens</h3>
        <div class="row">     
            <div *ngIf="mensagens!= undefined && mensagens != null">
                <p *ngFor="let mensagem of mensagens">
                <span style="font-family: Arial, Helvetica, sans-serif; text-align: left; font-size: 12px;">{{mensagem.horario | date: 'dd/MM/yyyy HH:mm'}}: {{mensagem.remetente=='nutricionista'? mensagem.usuario.nome: mensagem.paciente.nome}} diz - {{mensagem.mensagem}}</span>    
                </p>
            </div>
        </div>
      </section>
       <div>
          <ion-input placeholder="Responder mensagem" [(ngModel)]="mensagemEscrita" class="inputBranco"></ion-input>
          <button class="btnVerde" (click)="salvar()" style="height: 35px;
                                          color: white;
                                          width: 100%;">
          Enviar</button>
       </div>
    </div>
  </div> 

</ion-content>
