page-home {

    h3,h2,h1,p,button{
        text-align: center;
    }

    button{
        width: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
    }
    
    .container{
       background: #f4bc59;
       
    }
    .faixaVerde{
        background: #165334;
        color: white;
    }
}

.logo {
    font-family: logo;
    font-size: 43px;
    padding-top: 8px;
}

.font-bold{
    font-size: 28px;
    font-weight: 900;
    color: white;
}

.font-light{
    color: white;
    font-size: 22px;    
    font-weight: 600;
}

.btnLaranja{
    background: #165334;
}