page-home {

    h3,h2,h1,p,button{
        text-align: center;
    }

    button{
        width: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
    }
    
    .container{
        background: rgb(175, 241, 178);
    }
}
