@font-face{
    src: url('../assets/font/American\ Captain.ttf');
    font-family: logo;
}

/* RESETS */

p{
    margin: 8px 0px;
}

.header-md::after{
    display: none;

}

.logoTelaLogin{
    font-family: logo;
    font-size: 45px;
}

.card{
    padding: 10px;
    background: #f7941d;
    box-shadow: 2px 3px 8px #000;
    div{
        font-size: 1em;
    }

}

.btnVerde{
    background: #28ac1e;
    box-shadow: 2px 3px 8px #000;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
}
  
.container{
    background: #f4bc59;
    
 }
 .faixaVerde{
     background: #165334;
     color: white;
 }

 h3,h2,h1,p,button{
    text-align: center;
}

.bgLaranjaEscuro{
    background: #f7941d;
}