page-plano-alimentar {

    .radius{
        box-shadow: 2px 3px 8px #000;
        border-radius: 10px;
    }

    span{
        font-weight: 300;
        font-size: 20px;
        font-family: tour;
    }

    p{
        color: #1f1b1b;
    }
}
